@page
@model LudoRazor.Pages.LoadGame.IndexModel

@{
    ViewData["Title"] = "Load game";
}

<h1>Load game</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameBoard[0].Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameBoard[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameBoard[0].Done)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameBoard[0].Winner)
        </th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var gameBoard in Model.GameBoard)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => gameBoard.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => gameBoard.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => gameBoard.Done)
            </td>
            <td>
                @Html.DisplayFor(modelItem => gameBoard.Winner)
            </td>
            <td>
                
                <a asp-page="/PlayGame/Index" asp-route-id="@gameBoard.Id" class="btn btn-primary">Load Game</a>

                <a asp-page="./Delete" asp-route-id="@gameBoard.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>



