@page "{id}"
@using LudoAPI.Data
@using LudoAPI.Models
@using Microsoft.IdentityModel.Tokens
@model LudoRazor.Pages.ChoosePiece.IndexModel

@{
    ViewData["Title"] = "Choose piece";
}

<h4>@Model.ValidatePlayer you rolled @Model.die! Choose a piece to move.</h4>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Piece Id")
        </th>
        <th>
            @Html.DisplayName("Color")
        </th>
        <th>
            @Html.DisplayName("Position")
        </th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
        @foreach (var piece in Model.Pieces)
         {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => piece.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => piece.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => piece.Position)
                </td>
                <td>
                    <a asp-page="/Movepiece/index" asp-route-gameId="@Model.CurrentGame.Id" asp-route-pieceId="@piece.Id" asp-route-dieValue="@Model.die" class="btn btn-primary">Move piece</a>
                </td>

            </tr>
         }
    </tbody>
</table>





