@page "{id}"
@using LudoAPI.Models
@model LudoRazor.Pages.PlayGame.IndexModel

@{
    ViewData["Title"] = "Play game";
}
@{ var newPlayer = new Player();}

<h1>@Model.CurrentGame.Name</h1>

<br/>

<h4>@Model.ShowNextPlayer</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => newPlayer.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => newPlayer.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => newPlayer.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => newPlayer.GameBoardId)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var player in Model.Players)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => player.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => player.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.GameBoardId)
            </td>

        </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Color")
            </th>
            <th>
                @Html.DisplayName("Steps")
            </th>
            <th>
                @Html.DisplayName("Position")
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var piece in Model.Pieces)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => piece.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => piece.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => piece.Steps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => piece.Position)
                </td>               
            </tr>
         }
    </tbody>
</table>

<a asp-page="/ChoosePiece/Index" asp-route-gameId="@Model.CurrentGame.Id" class="btn btn-primary">Roll the die</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
